/* .weatherCard {
    z-index: 0;
} */

.navbar-text {
    color: white !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.main-header {
    font-size: x-large;
}

.footer {
    margin: auto;
    width: 50%;
}